.cardBox{
  background: #222224;
  color: skyblue;
  width: 300px;
  height: 200px;
  
}

.btnBox{
  display: flex;
  justify-content: flex-end;
}

.cardTitle{
  color:#fff;
}

.cfff{
  color: #fff;
}

