.box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;

  .addCardBox {
    background: #222224;
    color: skyblue;
    width: 300px;
    height: 214px;
    border-radius: 5px;
    padding: 10px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-right: 10px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 0 20px;

    }

    .content {
      flex: 1;
      overflow: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        border-radius: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background: #90939980;
        border-radius: 7px;
      }

      .addcrad {
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 8px;

        .square {
          width: 15px;
          height: 15px;
          border: 1px solid #565656;
          margin-right: 10px;
        }

        .input {
          color: skyblue;
          background: transparent;
          border-color: transparent;
        }
      }
    }

    .saveBtn {
      text-align: end;
    }
  }


  .cardList {
    display: flex;
    flex-wrap: wrap;

    .cardboxout {
      margin-right: 10px;
      margin-bottom: 40px;
    }

    :nth-child(5) {
      margin-right: 0;
    }

  }

  .colorItem {
    margin-bottom: 20px;

    .linebox {
      width: 100px;
      height: 25px;
      border-radius: 2px;
      padding: 5px 10px;
      border: 1px solid #ccc;
      cursor: pointer;

      .line {
        width: 100%;
        height: 100%;
        background: skyblue;

      }
    }
  }
}